header{
    background-color: crimson;
}

main{
background-color: aqua;
}
body{
    background-color: darkorchid;
}
footer{
    background-color: yellowgreen;
}
head{
    background-color: cadetblue;
}
