*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    text-transform: capitalize;
    z-index: 0;
}
body{
    padding: 10px 10px;
    margin:  10px 10px;
}

.menu >li{
    position: relative;
    display: inline-block;
    width: 200px;
}

.menu >li >a{
    display: block;
    padding: 15px 15px;
    color: blue;
    text-decoration: none;
    padding-left:90px ;
}

.menu li a:hover{
    color: orange;
    transition: all .3s;
}


#bloque{
    width: 93%;
    margin: 10px auto;
    background-color: aqua ;
}

header{
    text-align: center;
    padding: 10px;
    margin: 10px;
}
#baner{
    width: 80%;
    height: 500px;
}

nav li{
    display: inline-flex;
}

.submenu{
    position: absolute;
    background-color: azure;
    width: 110%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    padding: 10px;
    color: gray;
    text-decoration: none;
}

nav li:hover .submenu{
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

main{
    padding: 100px;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    border: 10px solid black;
}

.celulares img{
    height: 300px;
    width: 300px;
}


.social {
    display: inline-block;
    justify-content: center;
    border-radius: 100px;
    object-fit: cover;
    
}
.celulares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.accesorios{
    gap: 15px;
}


