*{margin: 0;
padding: 0;
box-sizing: border-box;}

header{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    padding: 1rem 2rem;
    color: white;
}
li{
    font-size: 1.5rem;
    padding: 2rem;
}
main{
    background-color: red;
    height: 100vh;
}

section{
    width: 100%;
    height: 100%;
    background-color: aqua;
}
#inicio{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#imagenes{
    display: flex;
    width: 400%;
    height: 100%;
    animation: desplazamiento 15s linear infinite;
    
}
#nosotros{
    background: linear-gradient(60deg,aqua, white) ;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
}
h1{
    font-size: 50px;
    padding-bottom: 30px;
    color: blue;
}
p{
    font-size: 30px;
    color: blueviolet;
}
#productos{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px;
}
#uno{
    background-image: url(imagenes/productos/chocobombom.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
#dos{
    background-image: url(imagenes/productos/cono.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
#tres{
    background-image: url(imagenes/productos/lucuma-chips.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
#cuatro{
    background-image: url(imagenes/productos/mini-yamboly.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
#cinco{
    background-image: url(imagenes/productos/minipasion.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
#seis{
    background-image: url(imagenes/productos/pasion.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
#siete{
    background-image: url(imagenes/productos/trisabor.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
#ocho{
    background-image: url(imagenes/productos/vainilla-chips.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
#nueve{
    background-image: url(imagenes/productos/vainilla-chocolate.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

#logo{
    width: 150px;
    height: 100px;
    margin-left: 80px;
    margin-top: 40px;
}
.primero{
    width: 25%;
    height: 100%;
}
@keyframes desplazamiento {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }

}
#distribuidores{
    background: linear-gradient(60deg,aqua, white) ;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
}
h2{
    font-size: 50px;
    padding-bottom: 30px;
    color: blue;
}
#contactenos{
    background: linear-gradient(60deg,aqua, white) ;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
}